@font-face {
  font-family: Work Sans2;
  src: url("../fonts/WorkSans-Italic-VariableFont_wght.ttf")
}

@font-face {
  font-family: Work Sans;
  src: url("../fonts/WorkSans-VariableFont_wght.ttf")
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans';
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  background-color: #f3eded;
  overflow-x: hidden;
  overflow-y: scroll;
}

.header .container {
  width: 100%;
  margin: auto;
  background-color: #FFFFFF;
}


.navbar {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 13.1712px;
  line-height: 15px;


}


.header {
  color: #5D5FEF;


}

.header img {
  padding-left: 30px;
}

.header h1 {
  font-family: run;
}

.header .container {
  display: flex;
  justify-content: space-between;

}

.header a {
  text-decoration: none;
  color: #1e0161;

}

.header a:hover {

  border-bottom: 2px solid #5D5FEF;
  transform: scale(1.5);
}

.header .cadastro {
  border: solid 1px #5D5FEF;
  border-radius: 8px 8px;
  padding: 12px;

}

.header .cadastro:hover {
  background-color: #5D5FEF;
  color: white;
}


.header a :hover {
  text-decoration: none;
  color: #1e0161;
  text-transform: uppercase;
}

/*login*/

.banner-login {
  width: 100%;
  height: 600px;
  background-image: linear-gradient(to top, #2947A9, #FFFFFF);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-login {
  width: 400px;
  height: 400px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
  color: #2947A9;
}

.img {
  margin-bottom: 50px;
}

.formulario input {
  border: solid 1px #2947A9;
  border-radius: 5px;
  height: 30px;
  width: 150px;
  background-color: #FFFFFF;
}

.formulario {
  width: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formulario form {
  width: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.formulario button {
  background-color: #2947A9;
  color: #FFFFFF;
  width: 150px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  border: solid 1px #FFFFFF;
}

.div-email {
  background-color: #FFFFFF;
  position: absolute;
  top: 305px;
  margin-left: 10px;
  max-width: fit-content;
}

.div-senha {
  background-color: #FFFFFF;
  position: absolute;
  top: 357px;
  margin-left: 10px;
  max-width: fit-content;
}

.formulario button:hover {
  background-color: #FFFFFF;
  color: #2947A9;
  border: solid 1px #2947A9;
}


/* footer */
footer {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  background: #2947A9;
  height: auto;
  /* width: 100vw; */
  /* padding-top: 40px; */
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h5 {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  height: 0px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}


/* .socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
} */

/* .socials a:hover i{
  color: aqua;
} */

.footer-bottom {
  background: #2947A9;
  /* width: 100vw; */
  /* padding: 20px;
  padding-bottom: 40px; */
  text-align: center;
}

.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}

/* .footer-bottom span{
   text-transform: uppercase;
   opacity: .4;
   font-weight: 200;
} */

.footer-menu {
  float: right;
}

.footer-menu ul {
  display: flex;
}

.footer-menu ul li {
  padding-right: 10px;
  display: block;
}

.footer-menu ul li a {
  color: #cfd2d6;
  text-decoration: none;
}

.footer-menu ul li a:hover {
  color: #27bcda;
}