@font-face {
  font-family: Work Sans2;
  src: url("../fonts/WorkSans-Italic-VariableFont_wght.ttf")
}

@font-face {
  font-family: Work Sans;
  src: url("../fonts/WorkSans-VariableFont_wght.ttf")
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

.container-login {
  background: url('../assets/lance-anderson-QdAAasrZhdk-unsplash.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.fundo {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.box {
  width: 300px;
  height: auto;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 15px -2px rgba(17, 24, 39, 0.5);
}

.box p {
  font-size: 20px;
  color: #474A51;
  width: 200px;
  margin: 0;
  text-align: center;
  padding-top: 15px;
}

.box p:nth-of-type(2) {
  font-size: 15px;
  color: #474A51;
  width: 200px;
  margin: 0;
  margin-bottom: 15px;
}

.box img {
  margin-bottom: 15px;
  width: 150px;
  height: auto;
}

.box-invalido {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box-validando {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#navbar {
  width: 100%;
  height: 50px;
  background: #f2f2f2;
  color: #474A51;
  position: fixed;
  box-shadow: 0px 0px 27.0741px -1.46346px rgba(17, 24, 39, 0.05);
}

#navbar-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 60px;
}

#navbar-items {
  display: flex;
  list-style: none;
  letter-spacing: 2px;
  /* text-transform: uppercase; */
}

#navbar-items li {
  padding: 10px;
}

#navbar-items li:hover {
  font-weight: bold;
  border-bottom: 2px solid #2947A9;
}

a {
  text-decoration: none;
  color: #474A51;
}

section {
  display: flex;
  background: #f2f2f2;
  padding: 30px 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px;
  max-width: 70vw;
}

.container {
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #474A51;
}

.form h1 {
  padding: 10px 30px;
  font-size: 2.5rem;
}

.form h3 {
  padding: 5px 15px;
  word-wrap: inherit;
  font-size: 0.8rem;
  font-weight: normal;
  text-align: left;
  text-align: center;
}

.container input {
  margin: 15px 10px;
  border: none;
  border-bottom: solid 2px #2947A9;
  border-bottom-left-radius: 5px;
  height: 50px;
  width: calc(100% - 10px);
  background-color: #f2f2f2;
  text-align: justify;
  align-items: baseline;
}

textarea:focus,
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.container label {
  /* text-transform: uppercase; */
  font-size: 14px;
  font-weight: 700;
  color: #9d9d9d;
  position: absolute;
  line-height: 50px;
  top: 10px;
  left: 25px;
  user-select: none;
  pointer-events: none;
  transition: 0.5s;

}

.container input:focus~label,
.container input:valid~label {
  left: 20px;
  top: -10px;
  color: #2947A9;
}

button {
  background-color: #2947A9;
  color: #FFFFFF;
  width: 150px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px 10px;
  margin-bottom: 50px;
  border: none;
  cursor: pointer;
  border: solid 1px #FFFFFF;
  transition: .3s linear;
}

button:hover {
  background-color: #f2f2f2;
  color: #2947A9;
  border: solid 1px #2947A9;
}


@media only screen and (max-width: 768px) {
  section {
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .form {
    min-width: 55vw;
  }


  button {
    width: 50%;
    margin: 0px;
    margin-bottom: 50px;
  }

}