* {
    margin: 0;
}

.page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.sec-1 {
    height: 100%;
    width: auto;
    overflow-y: hidden;
}

.sec-2 {
    height: 100%;
    width: 738px;
    display: block;
}

.sec-2-1 {
    width: auto;
    height: 68px;
    margin-bottom: 12px;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
}

.sec-2-1 .etiqueta {
    width: 100%;
    height: 10px;
    background-color: #5a5858;
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.sec-2-2 {
    height: calc((129px * 3) + 27px);
    display: flex;
    flex-wrap: wrap;
}

.sec-2-2-1 {
    width: 193px;
    height: 100%;
    background-color: #5a5858;
    margin-right: 45px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-2-2-1 .content-setup {
    width: 157px;
    height: 95%;
}

.sec-2-2-1 .content-setup p {
    margin-bottom: 10px;
}

.sec-2-2-1 * {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    margin: 0;
    word-wrap: break-word;
    width: 100%;
}

.sec-2-2-2 {
    height: auto;
}

.sec-2-2-2 .graf {
    width: 500px;
    height: auto;
    background-color: #5a5858;
    margin-bottom: 13px;
    border-radius: 3px;
}

.sec-2-2-2 .graf #chartRAM {
    width: 411px;
}

.sec-2-2-2 .graf #chartCPU {
    width: 411px;
}

#lista_equipes {
    border: 1px solid #9bbced;
    border-radius: 10px;
    background-color: #ffffff;
    height: 25px;
    width: 150px;
    padding: 0px 10px;
}

select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

#lista-equipes option {
    color: #444444;
    font-size: 13px;
    margin-left: 10px;
}

.lista {
    width: 240px;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-y: scroll;
    overflow-x: hidden;
}

.content-info-setup {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-start;
    margin-bottom: 20px;
}

.content-ram {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.content-ram .total-ram {
    background: #444444;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    height: 21px;
}

.content-ram .total-ram .qtd-ram {
    width: 100%;
    height: 17px;
    background: #3df170;
}

.content-storage {
    width: 100%;
    height: 136px;
    margin-bottom: 29px;
    position: relative;
}

.content-storage p {
    text-align: center;
    width: 100%;
}

.content-storage #chart-storage-doughnut {
    position: absolute;
    top: 30px;
}

.porcent-storage {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 175px;
    align-content: center;
}

.porcent-storage > #storage-number {
    width: 100%;
    font-weight: 200;
    font-weight: 200;
    font-size: 60px;
    line-height: 73px;
    z-index: 10;
    text-align: center;
}
.lista::-webkit-scrollbar {
    width: 7px;
    background-color: #44444400; /* width of the entire scrollbar */
}

.lista::-webkit-scrollbar-track {
    background: #c4c4c400; /* color of the tracking area */
}

.lista::-webkit-scrollbar-thumb {
    background-color: #444444; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #44444400; /* creates padding around scroll thumb */
}

.btn {
    position: absolute;
    top: -30px;
    left: 100px;
    width: 30px;

}